* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section ul {
  padding: 20px;
  width: 100%;
  list-style: none;
  background-color: gray;
}

section ul li {
  width: 70%;
  height: 120px;
  margin: 10px auto;
  padding: 10px 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px 30px 30px 30px;
  background-color: lightgray;
}
section ul li.dragging {
  opacity: 0.3 !important;
}

section ul li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

section ul li img {
  width: 100px;
  height: 100px;
  border: 2px dashed gray;
  border-radius: 5px;
}

section ul li section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-grow: 1;
  width: 100px;
  height: 100px;
}

section ul li section h3 {
  padding: 5px;
  font-size: 24px;
}

section ul li section a {
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

section ul li section span {
  padding: 5px;
  font-size: 16px;
}

/* ------------animation part----------- */
.fade-item {
    opacity: 0;
    transition: 1s all ease-in-out;
}

.fadein {
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}