* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

#scroll-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  z-index: 1;
  background-color: deepskyblue;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#scroll-line span {
  float: right;
  padding-right: 3px;
  font-size: 10px;
  color: whitesmoke;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section ul {
  padding: 20px;
  width: 100%;
  list-style: none;
  background-color: gray;
}

section ul li {
  position: relative;
  width: 70%;
  height: 120px;
  margin: 10px auto;
  padding: 10px 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px 30px 30px 30px;
  background-color: lightgray;
  overflow: hidden;
}
section ul li.dragging {
  opacity: 0.3 !important;
}

section ul li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

section ul li img {
  width: 100px;
  height: 100px;
  border: 2px dashed gray;
  border-radius: 5px;
}

section ul li section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-grow: 0.5;
  width: 100px;
  height: 100px;
}

section ul li section h3 {
  padding: 5px;
  font-size: 24px;
}

section ul li section a {
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

section ul li section span {
  padding: 5px;
  font-size: 16px;
}

section ul li article {
  padding: 10px;
  align-self: baseline;
  text-align: justify;
  line-height: 1.5rem;
  width: 60%;
  height: 100px;
}

section ul li .delete-icon {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: red;
  background-color: whitesmoke;
  border-radius: 0 0 0 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section ul li .delete-icon:hover {
  background-color: lightgray;
}

/* ------------animation part----------- */
.fade-item {
  opacity: 0;
  transition: 1s all ease-in-out;
}

.fadein {
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
